In [7]:
def func(a,b):
    return a+b
print(func(2,3))#Should give same arguments as parameter otherwise it gives a type error : required argument not fullfilled

5

In [9]:
Add = lambda a,b:a+b
print(Add(2,3))

5

In [10]:
x = 5
def change():#Cannot change global variable
    x=10
    print(x)
change()
print(x)

10
5

In [11]:
x = 5
def change():#Can change global variable
    global x
    x=10
    print(x)
change()
print(x)

10
10

In [17]:
def print_i():
    for i in range(2,51,2):
            print(i)
print_i()

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [23]:
def student(name, age,days = 21):
    print(name, "is" ,age, "Years old and",days,"days")
student(age = 20,name = "Shubham")

Shubham is 20 Years old and 21 days

In [28]:
def total_marks(*marks):
    print("total : ",sum(marks))
total_marks(1,2,3,4,5,7,5,3,5,7,4)

total :  46

In [29]:
def fact(num):
  if num == 0 or num==1:
    return 1
  else:
    return num*fact(num-1)
print(fact(4))

24

In [30]:
def largest(*nums):
  largest_number = nums[0]
  for num in nums:
    if num>largest_number:
      largest_number = num
  return largest_number
print(largest(1,2,3,4,6,7,8))

8

In [31]:
def Rev(word):
  return word[::-1]
print(Rev("Shubham"))

mahbuhS

In [33]:
def febo(size):
  a, b = 0, 1
  feb = []
  for i in range(size):
    feb.append(a)
    a, b = b, a + b
    return feb  
print(febo(5))

[0]

In [34]:
type(lambda x: x)

function

In [36]:
seen = set()
print(type(seen))

<class 'set'>

In [38]:
def large(*nums):#1,2,3,4,5,6
    largest_num = nums[0]
    for num in nums:
        if num>largest_num:
            largest_num=num
    return largest_num
print(large(1,6,2,4,3,50))

50

In [42]:
def fibo(size):
    a,b = 0,1
    Fib = []
    for i in range(size):
        Fib.append(a)
        a,b = b,a+b
    return Fib
print(fibo(9))

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [24]:
#List methods
lis = [1,2,3,4,5,8]#to insert elements at last
lis.append(2)
print(lis)

lis.insert(1,4)#To insert a elements to any specific index,syntax : insert(index,value)
print(lis)

lis.remove(3)#To remove a specific value from the list
print(lis)

lis.sort()#To sort the elements in the list in ascending order by default,Syntax: sort(iterable,key=,reverse=True/False)
print(lis)

lis.reverse()#To reverse the list
print(lis)

lis.extend([1,2,5,3,2,2])#To Add Elements to the list 
print(lis)

lis.pop()#To remove the last elements of the list
print(lis)

# lis.clear()
# print(lis)

print(lis.index(2))

print(lis.count(2))

marks = [1,2,3,4,5]
loss = marks.copy()
print(loss)

[1, 2, 3, 4, 5, 8, 2]
[1, 4, 2, 3, 4, 5, 8, 2]
[1, 4, 2, 4, 5, 8, 2]
[1, 2, 2, 4, 4, 5, 8]
[8, 5, 4, 4, 2, 2, 1]
[8, 5, 4, 4, 2, 2, 1, 1, 2, 5, 3, 2, 2]
[8, 5, 4, 4, 2, 2, 1, 1, 2, 5, 3, 2]
4
4
[1, 2, 3, 4, 5]

In [11]:
def is_palindrome(word):#Madam
    word = word.replace(" ","").lower()
    start = 0
    end = len(word)-1
    while(start<end):
        if word[start]!=word[end]:
            print("No,its not a palindrome")
            return
        start += 1
        end -= 1
    print("Its a palindrome")
        
is_palindrome(input("Enter a word"))

Enter a word SHubham

No,its not a palindrome

In [23]:
Tuple = (1,2,3,4,5,6)
print(Tuple)

(1, 2, 3, 4, 5, 6)

In [16]:
def Rev(word):
    reversed = ""
    for char in word:
        reversed = char + reversed
    return reversed
print(Rev(input("Enter a word : ")))

Enter a word :  Japanese

esenapaJ

In [27]:
num = [0,1,2,3,4,5,6,7,8,9]
print(num[0:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

In [28]:
[i**2 for i in [1,2,3]]

[1, 4, 9]

In [30]:
lis = [1,2,3,4,5]
loss = [num**2 for num in lis]
print(loss)

[1, 4, 9, 16, 25]